* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 16px;
}

body {
    width: 100dvw;
    overflow-x: hidden;

    & main {
        margin: 1.7rem auto;

        & article {
            width: 100%;
            margin-bottom: 16px;
        }
    }
}

h1 {
    width: 100%;
    font-size: 2.1rem;
    text-align: center;
}

h2 {
    margin: 0.4rem auto;
    width: 95%;
    font-size: 1.4rem;
    padding: 0.1rem 0.2rem;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    gap: 8px;
    margin-bottom: 8px;

    & h2 {
        margin: 0 auto;
    }

    & li {
        margin: 0 auto;
        flex-grow: 1;
        display: flex;
        width: 94%;
        padding: 0.5rem 0.75rem;
        border: 3px solid black;
        justify-content: space-between;
        border-radius: 4px;

        & a {
            display: flex;
            height: 100%;
            color: #ffffff;
            align-items: center;
            justify-content: space-between;
            font-size: 1.5rem;
            text-decoration: none;
        }

        & span {
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;

            & svg {
                height: 100%;
            }
        }
    }
}

article.link-to-forms li {
    color: rgb(0, 115, 255);
    background: rgba(0, 115, 255, 0.4);
    border-color: rgb(0, 115, 255);
}

article.link-to-forms li a {
    color: rgb(0, 115, 255);
}

article.link-to-get-data li {
    color: rgb(130, 1, 113);
    background: rgb(255, 186, 246);
    border-color: rgb(203, 10, 177);
}

article.link-to-get-data li a {
    color: rgb(130, 1, 113);
}

.hide {
    display: none;
}

.notification-container {
    background: #000000;
    color: #ffffff;
    width: calc(100% - 50rem);
    height: 3.5rem;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    animation: notificate 3s;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    & label {
        width: 100%;
        padding: 0 0 0 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    & span {
        width: auto;
        height: 100%;

        & svg {
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes notificate {
    0% {
        opacity: 0;
        transform: translateY(7rem);
    }

    50% {
        opacity: 1;
        transform: translateY(0rem);
    }

    75% {
        opacity: 1;
        transform: translateY(0rem);
    }

    90% {
        opacity: 1;
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(0rem);
        opacity: 0.0;
    }
}